.root {
    -fx-font-family: "Helvetica";
}

.escenaMenu {
    -fx-border-style: solid;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-background-color: orange;
}

.barraHerramientas {
    -fx-background-color: orange;
    -fx-font-weight: bold;
    font-size: 50px;
}
.textoDestacadoInformacionBasica {
    -fx-font-size: 15px;
    -fx-font-style: bold;
}

.tituloPequenoInformacionBasica {
    -fx-font-size: 30px;
    -fx-font-style: italic;
}

.tituloGrandeInformacionBasica {
    -fx-font-size: 60px;
}

.tablaListar .column-header-background .filler{
    -fx-background-color: orange;
}

.escenasContenido {
    -fx-pref-height: 600px;
    -fx-pref-width: 900px;
}

.botonMenu {
    -fx-font-weight: bold;
    font-size: 50px;
    -fx-background-color: orange;
}

.botonMenu:hover {
    -fx-background-color: #e59400;
}
.botonMenuPulsado {
    -fx-font-weight: bold;
    font-size: 50px;
    -fx-background-color: #b27300;
}
